.writing-sample{
  width: 85%;
  margin: 10px auto;
  margin-top: 10px;
  min-width: 240px;
  box-shadow: 3px 1px 1px 3px black;
}

h1{
  font-size: 15vw;
}

h4{
  font-size: 15vw;
}

p{
  font-size: min(max(3vw),25px);
}

.textbox{
  border: 0;
  outline: 0;
  border-bottom: 2px solid black;
  background: none;
  color: black; 
}
